body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4ec0ca; /* Set your desired background color */
}

canvas {
    border: 1px solid black;
    background-color: #71c5cf; /* Set your desired background color */
}
